#background {
    flex-direction: row;
    height: 100%;
    background-color: rgb(137, 137, 137);
}

#fill {
    flex-direction: row-reverse;
    height: 100%;
    background-color: rgb(31, 113, 25);
}

#knob {
    min-width: 10px;
    border-width: 1px;
    border-color: rgb(87, 87, 87);
    border-radius: 5px;
    margin: -4px -5px -4px 0px;
    background-color: rgb(205, 205, 205);
}