.button {
    width: 24px;
    height: 24px;
    margin: 1px;
    padding: 0;
}

#timeline {
    flex-grow: 1;
    margin: 5px 0px 5px 10px;
}

#timeline #controlBar {
    display: none;
    flex-grow: 1;
}

#timeline #info {
    display: none;
}

#timeline #info #label {
    margin-right: 5px;
}